{% include header.html %}
    <header class="main-header">
        <h1 class="motto" >{{ site.description }}</h1>
        <nav class="main-nav">
            {% if page.is_index_page %}
                <a class="button" href='{{ site.baseurl }}about.html'> About me </a>
            {% else %}
                <a class="button" href='{{ site.baseurl }}'> Home </a>
            {% endif %}
            <a class="button" href="{{ site.baseurl }}feed.xml">Subscribe</a>
        </nav>
    </header>
    {{ content }}

{% include footer.html %}